.MainContainer {
  height: 100%;
  border-radius: 10px;
  margin-left: 0.8rem;
  margin-right: 0.8rem;
  margin-top: 0.4rem;
  display: flex;
}

.SubHeader {
  margin-top: 0.02rem;
  padding-left: 1rem;
  border-radius: 10px;
  padding-top: 0.5rem;
  height: 3.2rem;
  background-color: #0eb68d;
}

.HeaderTitle {
  font-size: 24px;
}

.Content {
  margin-top: 1rem;
  margin-left: 1rem;
}

.paragraph {
  padding-left: 1rem;
  font-size: small;
  letter-spacing: 0.4px;
  font-family: Helvetica, sans-serif;
  font-size: 18px;
}

.Nav {
  display: inblock;
  border-radius: 10px;
  height: auto;
  width: 25rem;
  background: #263546;
}

.Button {
  margin-top: 0.2rem;
  display: flex;
  justify-content: space-between;
  padding: 0.3rem 1rem;
  width: 100%;
  font-size: 1.1rem;
  text-align: left;
  background-color: transparent;
  border-bottom: 3px solid #0eb68d;
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.3s;
}

.Button:hover {
  background-color: #18c89d;
  transition: all cubic-bezier(0, 0, 0, 1) 0.3s;
  border-radius: 10px;
}

.Images {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  margin-right: 0.8rem;
  margin-top: 2rem;
  width: auto;
}

.InfoContainer {
  animation: fadeIn 0.2s ease-out;
  border-radius: 10px;
  margin-left: 0.6rem;
  width: 80%;
  background: #263546;
  height: 100vh;
}

.ButtonContainer {
  background-color: #263546;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: auto;
  animation: fadeIn 0.2s ease-out;
}

.Text {
  padding-top: 0.7rem;
  padding-right: 0.4rem;
}

.Icon {
  transition: all cubic-bezier(0, 0, 0, 1) 0.3s;
  padding-top: 0.2rem;
}

.Map {
  height: 99%;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  border-radius: 10px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.galleryItem {
  flex-grow: 1;
  height: 100px;
  margin: 0;
  padding: 0;
  overflow: scroll;
}

.galleryItem img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}

.galleryItem:hover img {
  transform: scale(1.05);
}

@media screen and (min-width: 768px) {
  .Images {
    display: none;
  }

  .InfoContainer {
    width: 100%;
  }

  .Map {
    height: 30rem;
  }

  .Content {
    font-size: 16px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
