.SubHeader {
	padding-left: 1rem;
	border-radius: 5px;
	padding-top: 0.3rem;
	height: 2.6rem;
	background-color: #0eb68d;
}

.HeaderTitle {
	color: #fff;
	font-size: 22px;
}

.Content {
	margin-top: .5rem;
}


.paragraph {
  margin-left: 1rem;
  font-size: small;
  letter-spacing: 0.4px;
  font-family: Helvetica, sans-serif;
  font-size: 18px;
}

@media screen and (max-width: 724px) {
	.paragraph {
		font-size: 14px;
	}
}

@media screen and (min-width: 768px) {
	.Content {
		font-size: 16px;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(-10px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}


@media (prefers-color-scheme: light) {
	.InfoContainer {
    background: #fff
	}
	.HeaderTitle {
		color: #fff;
	}
  .SubHeader {
		background-color: #16a17f;
	}
}


