.MenuContainer {
	z-index: 1000;
	position: absolute;
	transform: translateX(-16rem);
	height: 100vh;
	width: 16rem;
	background-color: #1F2B39;
	transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.5s;
}

.MenuIcon {
	margin-left: 1.5rem;
}


.SubContainer {
	margin-right: 0.75rem;
	margin-left: 0.75rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.Link {
	transition: all cubic-bezier(0, 0, 0.2, 0.2) 0.1s;
	text-decoration: none;
	background-color: #263546;
	border-radius: 5px;
	display: flex;
	padding-left: 0.75;
	height: auto;
	width: auto;
	padding: 0.5rem;
	margin-top: 0.75rem;
	color: white;
	font-size: 1rem;
	line-height: 2rem;
	font-weight: 700;
	box-shadow: rgba(0, 0, 0, 0.11) 0px 2px 3px 1px;
}

.SubLink {
	align-items: center;
	display: flex;
	text-decoration: none;
	margin: 2px 5px 5px 5px;
	color: white;
	font-size: 1rem;
	font-weight: 700;
	height: 2.1rem;
	width: auto;
	padding: .2rem .2rem .5rem 1rem;
	display: flex;
	transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.18s;
	border-radius: 5px;
}

.AnchorTitle {
	margin-top: .4rem;
}

.Links {
	background-color: #263546;
	display: flex;
	height: auto;
	width: auto;
	color: white;
	padding: .5rem .5rem .0rem .5rem;
	margin-top: 0.75rem;
	font-size: 1rem;
	line-height: 2rem;
	font-weight: 700;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	z-index: 1000;
}

.Link:hover {
	transform: scale(1.01);
}

.SubLink:hover {
	color: #18ba9d;
}

.Icon {
	padding-top: 0.3rem;
	padding-left: 0.9rem;
	width: 22px;
	height: 22px;
}

.Title {
	text-decoration: none;
	padding-left: 1.5rem;
}

.LinksDisplay {
	width: auto;
	height: auto;
	padding-top: 0.1rem;
	background-color: #263546;
	transition: all 0.5;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.11) 0px 2px 3px 1px;
}

.MenuIconContainer {
	border-radius: 5px;
	height: 4rem;
	width: 4.6rem;
	align-items: center;
	background: #16A17F;
	display: flex;
	flex-direction: row;
	position: absolute;
}

.Logo {
	display: flex;
	align-items: center;
	height: 4rem;
	width: 16rem;
	background-color: #16A17F;
}

.SPNAME {
	padding-left: 1rem;
	color: white;
	font-size: 1rem;
	font-weight: 700;
}

.BackGround {
	z-index: 2;
	opacity: 0.3;
	position: absolute;
	height: 100vh;
	width: 100vw;
	background: rgb(38, 53, 70);
	background: linear-gradient(90deg, rgba(38, 53, 70, 1) 0%, rgba(38, 53, 70, 0.5) 50%, rgba(38, 53, 70, 0.1) 100%);
	transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.5s;
}

@media (prefers-color-scheme: light) {
.MenuContainer {
BackGround: #fff;
}

.Link {
background: #fbfbfb;
color: var(--MainTextLightColor)
}
.Links {
background: #fbfbfb;
color: var(--MainTextLightColor)
}
.LinksDisplay {
	background: #fbfbfb;
}

.SubLink {
	color: var(--MainTextLightColor)
}
}
