.Screen {
	margin-left: 4.8rem;
	height: 100vh;
	width: auto;
	display: flex;
	overflow: hidden;
}

.Images {
	overflow: hidden;
	position: relative;
	height: 100vh;
	justify-content: center;
	align-items: center;
	width: 70%;
}

.Info {
	display: flex;
	flex-direction: column;
	margin-left: .2rem;
	height: 100vh;
	width: 30%;
}

.ActualEventImage {
	background: #1f2b39;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	width: 100%;
	height: 60%;
}

.ActualEventInfo {
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	margin-top: .2rem;
	position: relative;
	background: #1f2b39;
	width: 100%;
	height: 40%;
}

.Container {
	position: absolute;
	width: 100%;
	justify-content: center;
	align-items: center;
	bottom: 0;
}

.MoreInfo {
	background: #182534;
	transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.5s;
}

.MoreInfoTitle {
	border: none;
	background: transparent;
	display: flex;
	font-weight: bold;
	padding-top: .6rem;
	font-size: 20px;
	padding-left: 0.8rem;
	transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
}

.MoreInfoTitleIcon {
	color: #16a17f;
}

.specification {
	text-align: left;
	padding-left: 1rem;
}

.ImagesContainer {
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	height: 42rem;
	background: #16a17f;
}

.ImageFooter {
	border-top: 3px solid #263546;
	margin-top: 1.2rem;
	height: 2.5rem;
	width: 100%;
	background: #0eb68d;
	display: flex;
}

.ImagesAction {
	display: flex;
	border-radius: 5px;
}

.Icon {
	border-radius: 5px;
	margin-left: .5rem;
	color: #fff;
	margin-top: .6rem;
}

.ImagesTitle {
	margin-top: 0.1rem;
	margin-left: 0.6rem;
	font-size: 22px;
	font-weight: bold;
}

.Alert {
	transition: opacity 0.5s, visibility 0.5s;
	position: absolute;
	margin: 2rem;
	border-radius: 5px;
	box-shadow: none;
	font-weight: 400;
	line-height: 1.43;
	letter-spacing: 0.01071em;
	display: flex;
	padding: 6px 16px;
	color: #1f2b39;
	background-color: #00b287;
}

.AlertIcon {
	margin-right: 12px;
	padding: 7px 0;
	display: flex;
	font-size: 22px;
	opacity: 0.9;
}

.AlertText {
	padding: 8px 0;
	font-size: 0.9rem;
	font-weight: bold;
	padding-top: 10px;
	min-width: 0;
	overflow: auto;
}

.hidden {
	opacity: 0;
	visibility: hidden;
}

.visible {
	opacity: 1;
	visibility: visible;
}

.ActualEventHeader {
	height: 3rem;
	width: auto;
	border-bottom: 2px solid #263546;
	padding: 0.1rem;
}

.ActualEventText {
	padding-top: .3rem;
	padding-left: .4rem;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 24px;
}

.ActualEventDiv {
	margin: 10px auto;
	width: 350px;
	height: 350px;
}

.Paragraph {
	transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
	font-size: 18px;
	padding-left: .6rem;
	height: 17rem;
	overflow: auto;
	padding-top: .2rem;
}

.Paragraph::-webkit-scrollbar {
	width: 0px;
	background: transparent;
}

@media (max-width: 1080px) {
	.ActualEventDiv {
		margin: 5px auto;
		width: 250px;
		height: 250px;
		justify-content: center;
		align-items: center;
		display: flex;
	}

	.ActualEventHeader {
		height: auto;
		width: auto;
		font-size: 14px;
	}
}


@media (max-width: 700px) {
	.ActualEventDiv {
		margin: 5px;
		width: 170px;
		height: 170px;
		justify-content: center;
		align-items: center;
		display: flex;
	}
}

@media (prefers-color-scheme: light) {
	.ActualEventText {
		color: var(--MainTextLightColor);
		background: #fff;
	}
	.Paragraph {
		color: var(--MainTextLightColor);
	}
	.ActualEventInfo {
		background: #fff;
	}
	.ActualEventHeader {
		border-bottom: 3px solid var(--MainLinesLightColor);
	}
	.ActualEventImage {
		background: #fff;
	}
	.ActualEventHeader {
		background: #fff;
	}
	.MoreInfo {
		background: #fff;
	}
	.ImagesContainer {
		box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background: #fbfbfb;
	}
	.ImagesTitle {
		color: var(--MainTextLightColor);
	}
  .ImageFooter {
	  background: #fff;
  }
  .Icon {
  	color: #263546;
  }
}
