.Screen {
	margin-left: 5.4rem;
	height: 100vh;
	width: auto;
	overflow: hidden;
}

.Header {
	display: flex;
	justify-content: flex;
	border-radius: 0 0 5px 5px;
}

.Title {
	background: #16a17f;
	border-radius: 5px;
	padding-right: 1.5rem;
	padding-left: 1rem;
	font-weight: bold;
	padding-top: 0.6rem;
	font-size: 32px;
	height: 4rem;
	margin-right: 1rem;
	width: 100%;
}

.SubTitleGrap {
	width: 100%;
	height: 2.2rem;
	padding-right: 1rem;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	padding-left: 1rem;
	/*FONT STYLES*/
	font-weight: bold;
	font-size: 24px;
	background: #16a17f;
}

.SubTitleAna {
	width: 100%;
	height: 2.2rem;
	padding-right: 1rem;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	padding-left: 1rem;
	/*FONT STYLES*/
	font-weight: bold;
	font-size: 24px;
	background: #16a17f;
}


.MainContainer {
	height: 100%;
	border-radius: 10px;
	margin-right: 0.6rem;
	margin-top: 0.2rem;
	display: flex;
}

.AnalisisSection {
	border-radius: 5px;
	width: 24.3%;
	height: 100%;
	margin-right: .2rem;
	animation: fadeIn 0.2s ease-out;
}

.GraficosSection {
	border-radius: 5px;
	height: 100%;
	width: 75%;
	animation: fadeIn 0.2s ease-out;
}

.AnalisisContent {
	border-radius: 5px;
	background: #263546;
	margin-top: .2rem;
	width: 100%;
}

.GrafCompanios {
	width: 49.7%;
	height: 100%;
	margin-left: .15rem;
	background: #263546;
	border-radius: 5px
}

.GrafPersonalData {
	width: 49.7%;
	margin-right: .15rem;
	height: 100%;
	background: #263546;
	border-radius: 5px
}


.StatContainer {
	background-color: red;
	width: auto;
	height: 3.5rem;
	margin-inline: 1rem;
	margin-top: .2rem;
	display: flex;
	border-radius: 5px;
}

.StatOne {
	background-color: blue;
	border-radius: 5px;
	width: 60%;
	height: 100%;
}

.StatTwo {
	background-color: blue;
	border-radius: 5px;
	width: 40%;
	height: 100%;
}

.GrafFristSection {
	margin-top: .2rem;
	height: 45%;
	display: flex;
	width: 100%;
}

.Content {
	border-radius: 5px;
	width: 100%;
	margin-top: .2rem;
	height: 100%;
}

.GrafSecondSection {
	margin-top: .2rem;
	height: 2rem;
	height: 45%;
	width: 100%;
	background: #263546;
	border-radius: 5px;
}

.AnalisisTitle {
	padding-left: 1rem;
	padding-top: .5rem;
	font-size: 20px;
	font-weight: bold;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(-10px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}
